@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

.user-pic.active-pic {
    border: 2px solid #ff7d3b;
    transform: scale(1.3);
    opacity: 1;
}

.user-text {
    display: none;
}

.user-text.active-text {
    display: block;
    animation: moveup 0.5s linear forwards;
}

.user-pic {
    transition: all 0.1s ease;
}


/* body {
    background: #e9b1b1;
} */

@keyframes moveup {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 20px;
        opacity: 0.1;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}